.node circle {
    fill: steelblue;
    stroke: #333;
    stroke-width: 2;
}

.node text {
    opacity: 1;
    fill: white;
    font-size: 11px;
}

.node:hover circle {
    fill: darkblue;
}

/*.node:hover text {*/
    /*opacity: 1;*/
/*}*/