:root {
    --twitter-blue: #1DA1F2;
}

.node circle {
    fill: transparent;
    stroke: #333;
    stroke-width: 0;
}

.node text {
    opacity: 1;
    fill: var(--twitter-blue);
    font-size: 11px;
}

.node:hover text {
    fill: darkblue;
}